<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="boards.CreateBoard"/>
            <class name="boards.GetBoard"/>
            <class name="boards.UpdateBoard"/>
            <class name="boards.DeleteBoard"/>
        </classes>
    </test>
</suite>